# 1.Python 

### 1. High level language : 인간의 언어와 유사

 - 쉽지만 느림
 - 직관적
 - 범용성, 확장성

## 단축키 

1. Shift + enter : 실행하기
2. Ctrl + enter : 실행하기
3. Alt + enter : 실행 + 셀추가

### 이 칸을 셀(cell)이라 부릅니다.

In [1]:
1+1

2

In [2]:
1-4

-3

In [4]:
3 * 4

12

In [5]:
5/2

2.5

In [6]:
3**3

27

In [7]:
3**4

81

In [8]:
5%2

1

In [9]:
5//2

2

In [10]:
5>2

True

In [11]:
5<2

False

In [12]:
4>=3

True

In [13]:
5<=3

False

In [14]:
3<=2

False

In [15]:
3<=3

True

## 변수

In [16]:
a = 1 
a

1

In [17]:
# 주석

# 변수명 규칙
# 1. 문자 사용 가능 (영어권장) 
# 2. 숫자 사용 가능
# 3. 특수 문자는 _만 사용가능
# 4. 문자로 시작 (문자 뒤에 숫자가 오는 것은 상관없음)
# 5. 소문자로 시작 

a = 1 

a

1

In [18]:
a = 1
b = 2

a+b

3

In [19]:
a

1

In [20]:
b

2

In [24]:
a = 3 
print(a)
a = a+2

print(a)

3
5

## 문자열(String)

In [25]:
'Hello World'

'Hello World'

In [26]:
"Hello World!"

'Hello World!'

In [27]:
"'Hello World!'"

"'Hello World!'"

In [28]:
"Kim's Name?"

"Kim's Name?"

In [29]:
name = 'Kim'

name

'Kim'

In [35]:
# 슬라이싱 (Slicing, 검색)
name[0]

'K'

In [31]:
name[2]

'm'

In [33]:
name[1]

'i'

In [36]:
name[-1]

'm'

In [43]:
name[0:4]

# 마지막 것은 포함하지 않음
# 네번째꺼 까지만 보여줌

'Kim'

In [46]:
name[:3]

# 처음 숫자 생략 시 처음부터 시작

'Kim'

In [45]:
name[1:]

# 뒤에 숫자 생략 시 마지막까지 보여줌

'im'

In [47]:
1 == '1'

False

In [48]:
1 == 1

True

In [49]:
1 != '1'

True

In [50]:
'O' == 'o'

False

## 불(Bool)

In [51]:
True

True

In [53]:
False

False

In [52]:
False

False

In [54]:
True == 1

True

In [55]:
False == 0

True

In [57]:
True == 'True'

# Bool True 와 문자열 True 는 다름

False

In [58]:
# 자료형 (자료형식)
# 숫자 = int = integer (정수), float(실수)
# 문자열 = str = string
# 불 = bool = boolean

# 에러처리

In [60]:
1 + 1

2

In [61]:
'1' + '1'

'11'

## 리스트(list)

 - 여러 개의 값을 한번에 담을 수 있음
 - 대괄호를 사용
 - 담을 수 있는 값들은 제한없음 (문자열, 숫자, bool...)

In [62]:
[1,2,3]

[1, 2, 3]

In [65]:
a = [1,2,3,4,5]

In [66]:
a

[1, 2, 3, 4, 5]

In [67]:
b = ['s','2']

In [72]:
[[a,b]]

[[[1, 2, 3, 4, 5], ['s', '2']]]

In [69]:
a[4]

5

In [70]:
a[1:3]

[2, 3]

## 제어문

### 조건문(if문)

In [75]:
age = 3

if age < 10:
    print('아이')
else:
    print('어른')
    
# 콜론까지가 조건
# 4칸 띄어쓰기가 자동으로 됨 (들여쓰기, indent)

아이

In [76]:
# elif = else if 

age = 15
if age < 10:
    print('아이')
elif age <20:
    print('청소년')
else:
    print('어른')

청소년

## 반복문(for문)

In [77]:
basket = ['apple', 'banana', 'chiken', 'Oliver', 'pencil']

basket

['apple', 'banana', 'chiken', 'Oliver', 'pencil']

In [84]:
for product in basket:
    print(product)
    print(product)

apple
apple
banana
banana
chiken
chiken
Oliver
Oliver
pencil
pencil

In [ ]:
for 원하는 변수명 in 리스트 :
    print(원하는 변수명)
    
# 리스트의 값을 변수명에 담음

In [85]:
product = basket[0]
print(product)
product = basket[1]
print(product)

apple
banana

In [87]:
# range(10) = [0,1,2,3,4,5,6,7,8,9]

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [92]:
for i in range(1,11):
    if i == 3:
        print('만세')
    print(i)

1
2
만세
3
4
5
6
7
8
9
10

In [94]:
for i in list(range(1,11))*2:
    if i == 3:
        print('만세')
    else:
        print(i)

1
2
만세
4
5
6
7
8
9
10
1
2
만세
4
5
6
7
8
9
10

In [ ]:
for i in list(range(1:100))*2:
    if i == 3:
        print('오')